# If you are reading this ⚠️ DO NOT PUT REAL KEYS HERE ⚠️ use vi .env instead

API_ID=
API_HASH=
TOKEN=
DATABASE_URL=postgresql://postgres:password@localhost:5432/musicflarebot
API_URL=https://tgmusic.fallenapi.fun
API_KEY=
OWNER_ID=
SESSION_TYPE=gogram
